body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

@font-face {
    font-family: 'Comica-BD-Bold';
    src: local('FiraSans'), url(./assets/fonts/Comica-BD-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Comica-BD';
    src: local('Comica-BD'), url(./assets/fonts/Comica-BD.ttf) format('truetype');
}

.containerDetail {
    flex-direction: row
}

@media only screen and (max-width: 768px) {
    .containerDetail {
        flex-direction: column
    }
}